# Verification

* **Answer the question below and create a pull request by replacing the sentence**
```

_STSS_BF_OEE_IHST_

```

Analyze the scrambled verification token above to uncover the hidden phrase, and submit a pull request replacing the underscores with letters from your GitHub username.
